<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <p>Universidad Internacional de la Rioja</p>
    <p>Escuela Superior de Ingeniería y Tecnología</p>
    <p>Grado en Física</p>
    <p>Mi trabajo de fin de grado</p>
    <table>
      <thead>
        <tr>
          <th>Trabajo de fin de estudio presentado por:</th>
          <th>Mi nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Director/a:</td>
          <td>Nombre de mi director</td>
        </tr>
        <tr>
          <td>Fecha:</td>
          <td>2025-02-20</td>
        </tr>
      </tbody>
    </table>
    <p>Resumen</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre in voluptatem, ut postea variari voluptas distinguique possit, augeri amplificarique non possit. At etiam Athenis, ut e patre audiebam facete et urbane Stoicos irridente, statua est in quo a nobis philosophia defensa et collaudata est, cum id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum defuturum, quas natura non depravata desiderat. Et quem ad me accedis, saluto: 'chaere,' inquam, 'Tite!' lictores, turma omnis.</p>
    <p>Palabras clave: Lorem, ipsum, dolor, sit, amet, consectetur.</p>
    <p>Abstract</p>
    <p>afsadf</p>
    <p>Keywords: Lorem, ipsum, dolor, sit, amet, consectetur.</p>
    <p>1. Introducción</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre in voluptatem, ut postea variari voluptas distinguique possit, augeri amplificarique non possit. At etiam Athenis, ut e patre audiebam facete et urbane Stoicos irridente, statua est in quo a nobis philosophia defensa et collaudata est, cum id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum [1] .</p>
    <p>La distancia que separa dos torres en un tendido eléctrico en una vía de tren es de . Obtén el tiempo que emplea una cabeza locomotora en recorrer dicha distancia si su velocidad es de . Expresa dicho tiempo en el Sistema Internacional.</p>
    <p>2. Estado del arte</p>
    <p>El nombre de esta sección es opcional.</p>
    <p>3. Material y métodos</p>
    <p>4. Resultados y discusión</p>
    <p>5. Conclusiones</p>
    <p>Bibliografía</p>
  </body>
</html>
